@model EZ_CD.Models.Disk

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>


<div>
    <h4>Disk</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="artists" asp-action="details" asp-route-id="@ViewBag.ArtistId">
                @Html.DisplayFor(model => model.Artist.name)
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price)$
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dateAdded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.imagePath)
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.imagePath"><img src="@Model.imagePath" height="35" width="35" /></a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.featuredVideoUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.featuredVideoUrl)
        </dd>
        <dt class="col-sm-2" style="padding-bottom:8px; text-decoration: underline">
            Tracklist:
            <br />
        </dt>
        <dd class="col-sm-10" style="margin-top:10px">
            @foreach (var item in ViewBag.songs)
            {
            <dt class="col-sm-2 tracklist" style="font-weight:normal">@item.name</dt>
            <dd class="col-sm-10 tracklist">@item.length</dd>
        }
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.diskId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
