@model IEnumerable<EZ_CD.Models.Disk>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Disks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Search" id="search-form">
    <input type="text" name="filter" id="filter" placeholder="Search" />
    <label><input id="name" type="radio" name="state" value="name" checked="checked" /> By Name</label>
    <label style="padding-left:10px"><input id="artist" type="radio" name="state" value="artist" /> By Artist</label>
    <input type="text" name="minprice" id="minprice" placeholder="Minimum Price $" style="margin-left:10px"   />
    <input type="text" name="maxprice" id="maxprice" placeholder="Maximum Price $" />
</form>

<table class="table" style="margin-top:10px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.featuredVideoUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="artists" asp-action="details" asp-route-id="@item.Artist.artistId">
                        @Html.DisplayFor(modelItem => item.Artist.name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    <a href="@item.imagePath"><img src="@item.imagePath" height="35" width="35" /></a>
                <td>
                    @Html.DisplayFor(modelItem => item.price)$
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.featuredVideoUrl)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.diskId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.diskId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="~/js/AdminPanel/Search.js"></script>
    <script id="results" type="text/html">
        <tr>
            <td>
                <a href="artists/details/${artistId}">
                    ${artist}
                </a>
            </td>
            <td>
                ${name}
            </td>
            <td>
                <a href="${imagePath}"><img src="${imagePath}" height="35" width="35" /></a>
            <td>
                ${price}$
            </td>
            <td>
                ${date}
            </td>
            <td>
                ${genre}
            </td>
            <td>
                ${dateAdded}
            </td>
            <td>
                ${featuredVideoUrl}
            </td>
            <td>
                <a href="/edit/${diskId}">Edit</a> |
                <a href="/details/${diskId}">Details</a>
            </td>
        </tr>
    </script>

}
