@model IEnumerable<EZ_CD.Models.Disk>

@{
    ViewData["Title"] = "Search";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateAdded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateAdded)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.diskId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.diskId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.diskId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
