@model IEnumerable<EZ_CD.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.theUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.theUserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.customerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.customerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.customerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
