@model IEnumerable<EZ_CD.Models.Artist>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Artists</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Search" id="search-form">
    <input type="text" name="filter" id="filter" placeholder="Search" />
</form>

<table class="table" style="margin-top:10px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.country)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.artistId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.artistId">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="~/js/AdminPanel/Search.js"></script>
    <script id="results" type="text/html">
        <tr>
            <td>
                ${name}
            </td>
            <td>
                ${birthday}
            </td>
            <td>
                ${genre}
            <td>
                ${country}
            </td>
            <td>
                <a href="/artists/edit/${artistId}">Edit</a> |
                <a href="/artists/details/${artistId}">Details</a>
            </td>
        </tr>
    </script>

}

