@model EZ_CD.Models.Disk

@{

    ViewData["Title"] = Model.name;
    Layout = "_Layout";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>MeetMe Personal</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/DiskDetails/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/DiskDetails/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/css/DiskDetails/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/DiskDetails/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/DiskDetails/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="~/css/DiskDetails/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/css/DiskDetails/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="~/css/DiskDetails/vendors/popup/magnific-popup.css">
    <link rel="stylesheet" href="~/css/DiskDetails/vendors/flaticon/flaticon.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/css/DiskDetails/css/style.css">
    <link rel="stylesheet" href="~/css/DiskDetails/css/responsive.css">
    <style>
        img.sticky {
            position: sticky;
            top: 70px;
            object-fit: contain;
            width: 700px;
        }
        .framed-objs {
            box-shadow: 7px 7px 3px #ccc;
            border-radius: 8px
        }
    </style>
</head>

<body>

    <section class="home_banner_area">
        <div class="container box_1620">
            <div class="banner_inner d-flex align-items-center">
                <div class="banner_content">
                    <div class="media">

                        <img class="sticky framed-objs" src=@Model.imagePath alt=@Model.name />

                        <div class="media-body" style="padding-left:50px">
                            <h3>@Model.name</h3>
                            <div class="personal_text">

                                <h4>@Model.Artist.name</h4>
                                <h5>@Model.genre</h5>

                                <p>@ViewBag.description</p>
                                <ul class="list basic_info">
                                    <li><i class="lnr lnr-calendar-full"></i> @Model.date.ToShortDateString()</li>
                                    <li><i class="lnr lnr-tag"></i> @Model.price$</li>
                                    <li><i class="lnr lnr-clock"></i>@ViewBag.totalTime</li>
                                </ul>
                                <iframe class="framed-objs" width="500" height="393" src="https://www.youtube.com/embed/@Model.featuredVideoUrl">
                                </iframe>
                                <ul class="list personal_social">
                                    <li><a href="https://pitchfork.com/reviews/albums/@Model.Artist.name-@Model.name/"><i class=""></i></a></li>

                                </ul>
                                <h2>
                                    Songs List
                                </h2>
                                <table style="width:100%;text-align:left">
                                    <tr>
                                        <th>Name</th>
                                        <th>Length</th>
                                    </tr>

                                    @foreach (var item in ViewBag.songs)
                                    {
                                        <tr>
                                            <td>@item.name</td>
                                            <td>@item.length</td>
                                        </tr>
                                    }
                                </table>
                                <h5>
                                    Artist From: @Model.Artist.country
                                </h5>
                                <iframe src="https://www.google.com/maps?q=@Model.Artist.country&output=embed" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                <br />
                                <a asp-controller="Home" asp-action="AddToCart" asp-route-id="@Model.diskId"> <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button></a>
                                <a target="_blank" rel="noopener noreferrer" href="http://twitter.com/share?text=Check out the new disk that EZCD added! @Model.name by @Model.Artist.name is available now!&url=www.EZCD.com" <button type="button" class="btn btn-sm btn-outline-secondary" style="background-color: #008CBA; color:white">Share on Twitter</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>