@model EZ_CD.Models.Song

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.videoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.videoUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.songId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
